@import "helpers";

body {
  background: #808080;
  margin: 0;
  font-family: 'Play', sans-serif;
}

.page-wrapper {
  position: relative;
  padding: 10px;
  .gradient-bg(#f7f7f7, #808080);
}

header {
  position: inherit;
}

.version {
  .overlay(auto, 10px);
}

h1.title {
  .overlay(auto, 0);
  margin: 0;

  span {
    color: #b0b0b0;
    opacity: 0.6;
    margin-right: 1px;

    -webkit-transition: color ease 1s;
    -moz-transition: color ease 1s;
    -o-transition: color ease 1s;
    transition: color ease 1s;

    -webkit-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;

    &:nth-child(1) {
      margin-left: 1px;
    }

    &.pulse {
      color: #333;
      opacity: 1;
    }
  }
}

.tools {
  margin: 10px;
  min-height: 160px;

  .selects {
    float: left;
    margin: 10px;

    .label {
      min-width: 120px;
      float: left;
      text-align: right;
      margin-right: 10px;
    }

    select {
      min-width: 100px;
      border: 1px solid #333;
    }

    ul {
      margin: 0;

      li {
        list-style: none;
      }
    }
  }
}

.bike {
  width: 1011px; 
  position: relative;
  margin: 100px auto;
}

canvas {
  &:not(#core) {
    position: absolute !important;
    z-index: 1;
  }

  &#seat {
    &.original {
      top: 46px;
      left: 110px;
    }

    &.supersport {
      top: 40px;
      left: 154px;
    }
  }

  &#tank {
    &.original {
      top: 25px;
      left: 396px;
    }

    &.supersport {
      top: 36px;
      left: 376px;
    }
  }
}

/*
.seat {
  .original {
    background-position: 0 -450px;  
    height: 93px;
    width: 310px;
    .overlay(51px, auto, auto, 115px);
  }

  .supersport {
    background-position: 0 -95px;
    height: 49px;
    width: 242px;
    .overlay(88px, auto, auto, 148px);
  }

  .racey {
    background-position: -241px -95px;
    height: 48px;
    width: 231px;
    .overlay(88px, auto, auto, 178px); 
  }
}

.tank-badge {
  .original {
    background-position: 0 -660px;
    height: 10px;
    width: 88px;
    .overlay(72px, auto, auto, 527px);
  }
}

.headlight {
  .original {
    background-position: 0 -1075px;
    height: 97px;
    width: 70px;
    .overlay(0, auto, auto, 684px);
  }

  .supersport {
    background-position: 0 0;
    height: 95px;
    width: 278px;
    .overlay(46px, auto, auto, 376px);
  }
}

.oil-tank {
  .original {
    background-position: -3px -708px;
    height: 189px;
    width: 207px;
    .overlay(140px, auto, auto, 239px);
  }
}

.oil-tank-badge {
  .original {
    background-position: 0 -674px;
    height: 33px;
    width: 43px;
    .overlay(178px, auto, auto, 327px);
  }
}

.exhaust {
  .original {
    background-position: 0 -903px;
    height: 179px;
    width: 557px;
    .overlay(202px, auto, auto, 69px);
  }

  .supersport {
    background-position: 0 -143px;
    height: 186px;
    width: 414px;
    .overlay(205px, auto, auto, 215px);
  }
}
*/


#parts {
  border: 1px solid #333;
  padding: 10px;
  float: left;
}

/* Spectrum overrides */
.sp-container {
  border: 0;
  background: none;
}

.sp-picker-container {
  border-left: none;
}

