.page-wrapper {
  /*background: #000;*/
}

.bike {
  height: 600px;
  width: 1011px; 
  position: relative;
}

.bike div {
  position: absolute;
} 

.core {
  height: 450px;
  width: inherit;
  top: 5px;
  left: 8px;
  z-index: 0;
  background: url('../images/cb750-original-sprite.png') no-repeat;
}

.seat-original {
  background: url('../images/cb750-original-sprite.png') 0 -450px no-repeat !important;
  height: 93px;
  width: 310px;
  top: 51px;
  left: 115px;
  z-index: 2;
}

.tank-original {
  background: url('../images/cb750-original-sprite.png') 0 -543px no-repeat !important;
  height: 110px;
  width: 246px;
  top: 30px;
  left: 404px;
  z-index: 1;
}

.seat-supersport {
  background: url('../images/supersport-sprite.png') 0 -95px no-repeat !important;
  height: 49px;
  width: 242px;
  top: 89px;
  left: 142px;
  z-index: 2;
}

.tank-supersport {
  background: url('../images/supersport-sprite.png') 0 0 no-repeat !important;
  height: 95px;
  width: 278px;
  top: 44px;
  left: 372px;
  z-index: 2;
}